// _variables.scss

// Colors
$primary-color: #4D592B; // Military green
$secondary-color: #ffffff; // White
$text-color: #000000;

// Fonts
$body-font: 'Open Sans', sans-serif;
$heading-font: 'Roboto', sans-serif;

// Spacing
$spacing-unit: 1rem;
